
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/global.css" rel="stylesheet" />
</head>
<body>
    <div> 

        Hello!

        <p class="negrito amarelo">World</p>

        <p class="negrito">Fatec</p>

        <button class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-ok"></span> Testar </button>

    </div>
</body>
</html>
